body {
    font-family: Helvetica Neue;
    //padding-top: 75px;
    //padding-bottom: 50px;
}

.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    border: 1px solid grey;
}

.sidenav a {
    padding: 6px 6px 3px 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #212529;
    display: block;
}

.sidenav li{
    padding: 6px 6px 0px 35px;
    text-decoration: none;
    font-size: 15px;
    color: #212529;
    display: block;
    font-weight: normal;
}

.sidenav a:hover {
    color: grey;
}

.sidenav li:hover {
    color: grey;
}

.sidenav h1 {
    text-align: center;
    border-bottom: 3px solid lightgray;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: bold;

}

.head {
    margin-left: 280px;
    width: 100%;
    background-color: grey;
    bottom: 0;
    position: relative;
    padding-bottom: 20px;
}

.head h1{
    top: 50%;
    left: 50%;
    text-align: center;
}

#topNav {
    border-bottom: 2px solid grey;
}

#navTitle{
    padding-left: 150px;
    font-size: 36px;
    color: white;

}



#dropdownMenuButton1 {
    font-size: 15px;
}

.navbar{
    margin-left: 280px;
}

.main {
    //border: 2px solid red;
    margin-left: 280px; /* Same as the width of the sidenav */
}

h2 {
    padding-top: 25px;
    text-align: center;
}

#add-assessment {
    height: 85px;
}

#add-assessment-btns {
    text-align: center;
}

.addHoa {
    padding-bottom: 150px;
}

#hoa-title-1{
    margin-left: 235px;
}

#hoa-title-2{
    margin-left: 235px;
}

#req-symbol{
    color: red;
    display: inline;
}

#req-message{
    margin-left: 270px;
}

.addAssessmentResponse{
    padding-bottom: 150px;
}

#add-assessment-response-btns{
    text-align: center;
    padding-top: 75px;
}

.listUser{
    margin-left: 100px;
    margin-right: 100px;
}

.list-assessment-response{
    margin-left: 100px;
    margin-right: 100px;
}

.listAssessment{
    margin-left: 100px;
    margin-right: 100px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}